@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --font-size: 16px;
    --verde-forestal: #228b22;
    --verde-oscuro: #227022;
    --blanco: #fff;
    --gris-oscuro: #212121;
    --gris-claro: #777;
    scroll-behavior: smooth;
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
}


body {
    background-color: #000;
    color: var(--gris-oscuro);
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    text-align: left;
}

.contenedor-pagina{
    position: fixed;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

/* ••••••••••••••• Sección Principal ••••••••••••••• */
.seccion-principal {
    background-color: var(--gris-oscuro);
    border: solid var(--verde-forestal) 0.16rem;
    border-radius: 1rem;
    margin: 0;
    padding: 1rcap;
    position: absolute;
    height: auto;
    width: auto;
    z-index: 100;
}

.bloque-saludo {
    margin: 0;
    padding: 0 0.9375rem;
    height: auto;
    width: auto;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.texto-saludo {
    color: var(--gris-claro);
    font-size: 0.25rem;
    font-weight: 300;
}

.seccion-logo {
    margin: 0;
    padding: 0.9375rem;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.logo-opplu {
    color: #fff;
    cursor: pointer;
    height: 3rem;
    width: 9rem;
}

.seccion-redes-sociales {
    margin: 0;
    padding: 0.9375rem;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.iconos-redes-sociales {
    color: var(--blanco);
    margin: 0 0.9375rem 0 0;
    padding: 0;
    height: 1.875rem;
    width: 1.875rem;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
}

.iconos-redes-sociales:hover{
    color: var(--verde-forestal);
}

.bloque-texto-copyright {
    margin: 0;
    padding: 0.9375rem;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.texto-copyright {
    color: var(--gris-claro);
    font-size: 0.78125rem;
    font-weight: 300;
}

/* ••••••••••••••• RWD ••••••••••••••• */
@media (min-width: 0px) and (max-width: 480px) {

    .texto-saludo {
        font-size: 0.9375rem;
    }
    
    .logo-opplu {
        height: 1.5625rem;
        width: 4.6875rem;
    }
    
    .iconos-redes-sociales {
        height: 1.3125rem;
        width: 1.3125rem;
    }
    
    .texto-copyright {
        font-size: 0.65625rem;
        font-weight: 300;
    }
}

@media (min-width: 481px) and (max-width: 768px) {

    .texto-saludo {
        font-size: 1rem;
    }

    .logo-opplu {
        height: 1.6875rem;
        width: 5.0625rem;
    }
    
    .iconos-redes-sociales {
        height: 1.3125rem;
        width: 1.3125rem;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {

    .texto-saludo {
        font-size: 1.125rem;
    }

    .logo-opplu {
        height: 1.8125rem;
        width: 5.4375rem;
    }
    
    .iconos-redes-sociales {
        height: 1.375rem;
        width: 1.375rem;
    }

    .iconos-redes-sociales:hover {
        color: var(--verde-oscuro);
    }
}

@media (min-width: 1025px) and (max-width: 1200px) {

    .texto-saludo {
        font-size: 1.21875rem;
    }

    .logo-opplu {
        height: 2.0625rem;
        width: 6.25rem;
    }

    .iconos-redes-sociales:hover {
        color: var(--verde-oscuro);
    }

    .iconos-redes-sociales:hover{
    color: var(--verde-forestal);
    }
}

@media (min-width: 1201px){

    .texto-saludo {
        font-size: 1.3125rem;
    }

    .logo-opplu {
        height: 2.1875rem;
        width: 7.1875rem;
    }

    .iconos-redes-sociales:hover {
        color: var(--verde-oscuro);
    }
}
