@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --font-size: 16px;
    --azul-crayola: #1f75fe;
    --azul-cobalto: #0047ab;
    --blanco: #fff;
    --gris-claro: #777;
    --gris-oscuro: #555;
    --gris-oscuro-saturado: #333;
    --color-fondo: #eee;
    --color-footer: #212121;
    --color-verde-aguacate: #568203;
    scroll-behavior: smooth;
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
}


body {
    background-color: var(--color-fondo);
    color: var(--gris-oscuro);
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    text-align: left;
}

.contenedor-pagina{
    position: relative;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.contenido-pagina {
    position: relative;
    margin: 0;
    padding: 0;
}

/* ••••••••••••••• Scrollbar ••••••••••••••• */
::-webkit-scrollbar {
    width: 0.9375rem;
}

::-webkit-scrollbar-track {
    background: var(--blanco);
}
  
::-webkit-scrollbar-thumb {
    background: var(--azul-crayola);
}
  
::-webkit-scrollbar-thumb:hover {
    background: var(--azul-cobalto);
}

/* ••••••••••••••• Selección de Texto ••••••••••••••• */
::-moz-selection { /* Code for Firefox */
    color: var(--blanco);
    background: var(--color-verde-aguacate);
}
  
::selection {
    color: var(--blanco);
    background: var(--color-verde-aguacate);
}

/* ••••••••••••••• Sección Barra de Navegación ••••••••••••••• */
.barra-navegacion-superior {
    background-color: var(--color-fondo);
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    top: 0;
    height: 2.8125rem;
    width: 100%;
    margin: 0;
    padding: 0;
    position: sticky;
}

.bloque-logo-barra-navegacion-superior {
    margin: 0;
    padding: 0 0 0 0.9375rem;
}

.icono-ararpi-barra-navegacion-superior {
    color: #1f75fe;
    height: 2.03125rem;
    width: 6.25rem;
}

.bloque-saludo {
    margin: 0;
    padding: 0 0.9375rem;
    height: auto;
    width: auto;
}

.saludo-barra-de-navegacion-superior {
    color: #1f75fe;
    font-size: 1.3125rem;
    font-weight: 500;
}

/* ••••••••••••••• RWD ••••••••••••••• */
@media (min-width: 0px) and (max-width: 480px) {

    .icono-ararpi-barra-navegacion-superior {
        height: 1.5625rem;
        width: 4.6875rem;
    }
    
    .saludo-barra-de-navegacion-superior {
        font-size: 0.9375rem;
    }
}

@media (min-width: 481px) and (max-width: 768px) {

    .icono-ararpi-barra-navegacion-superior {
        height: 1.6875rem;
        width: 5.0625rem;
    }
    
    .saludo-barra-de-navegacion-superior {
        font-size: 1rem;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {

    .icono-ararpi-barra-navegacion-superior {
        height: 1.8125rem;
        width: 5.4375rem;
    }
    
    .saludo-barra-de-navegacion-superior {
        font-size: 1.125rem;
    }
}

@media (min-width: 1025px) and (max-width: 1200px) {

    .icono-ararpi-barra-navegacion-superior {
        height: 2.03125rem;
        width: 6.25rem;
    }
    
    .saludo-barra-de-navegacion-superior {
        font-size: 1.21875rem;
    }
}

@media (min-width: 1201px){

    .icono-ararpi-barra-navegacion-superior {
        height: 1.9375rem;
        width: 5.9375rem;
    }
    
    .saludo-barra-de-navegacion-superior {
        font-size: 1.3125rem;
    }
}

/* ••••••••••••••• Sección Banner Superior ••••••••••••••• */
.seccion-contacto-y-banner-superior {
    margin: 0;
    padding: 2.8125rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 17.1875rem;
    width: 100%;
}

.bloque-contacto {
    margin: 0;
    padding: 0;
}

.titulo-principal {
    color: var(--azul-crayola);
    font-size: 2.8125rem;
    font-weight: 700;
    margin: 0 0 1.875rem 0;
    padding: 0;
}

.titulo-secundario {
    color: var(--gris-claro);
    font-size: 1.125rem;
    font-weight: 500;
    margin: 0 0 1.875rem 0;
    padding: 0;
}

.bloque-contacto {
    flex-direction: column;
}

.bloque-contacto,
.bloque-imagen-banner-superior {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 50%;
    margin: 0;
    padding: 0.9375rem;
}

.imagen-banner-superior {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

/* ••••••••••••••• RWD ••••••••••••••• */
@media (min-width: 0px) and (max-width: 480px) {

    .seccion-contacto-y-banner-superior {
        margin: 0;
        flex-direction: column;
    }
    
    .titulo-principal {
        font-size: 1.875rem;
        padding: 0 0.9375rem;
    }
    
    .titulo-secundario {
        font-size: 0.9375rem;
        font-weight: 500;
        padding: 0 0.9375rem;
    }
    
    .bloque-contacto,
    .bloque-imagen-banner-superior {
        height: 50%;
        width: 100%;
        margin: 0;
        padding: 0;
    }
}

@media (min-width: 481px) and (max-width: 768px) {

    .seccion-contacto-y-banner-superior {
        margin: 0;
        flex-direction: column;
    }
    
    .titulo-principal {
        font-size: 2.1875rem;
        padding: 0 0.9375rem;
    }
    
    .titulo-secundario {
        font-size: 1rem;
        font-weight: 500;
        padding: 0 0.9375rem;
    }
    
    .bloque-contacto,
    .bloque-imagen-banner-superior {
        height: 50%;
        width: 100%;
        margin: 0;
        padding: 0;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    
    .titulo-principal {
        font-size: 2.5rem;
    }
    
    .titulo-secundario {
        font-size: 1.0625rem;
    }
}

@media (min-width: 1025px) and (max-width: 1200px) {

    .titulo-principal {
        font-size: 2.65625rem;
    }
}

@media (min-width: 1201px){
    
    .titulo-principal {
        font-size: 2.65625rem;
    }
}

/* ••••••••••••••• Sección Texto Propósito ••••••••••••••• */ /* ••• Titanium Color ••• */
.seccion-texto-proposito {
    margin: 0;
    padding: 2.8125rem 0;
}

.bloque-texto-propsito {
    background: #283048;  /* fallback for old browsers */ 
    background: -webkit-linear-gradient(to right, #283048, #859398);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #283048, #859398); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-color: #ccc;
    border-radius: 0.3125rem;
    border-style: solid;
    border-width: 0.15625rem;
    margin: 0;
    padding: 0.9375rem;
}

.texto-proposito {
    font-size: 1.125rem;
    color: var(--blanco);
    font-weight: 300;
}

/* ••••••••••••••• RWD ••••••••••••••• */
@media (min-width: 0px) and (max-width: 480px) {

    .texto-proposito {
        font-size: 0.9375rem;
    }
}

@media (min-width: 481px) and (max-width: 768px) {

    .texto-proposito {
        font-size: 1rem;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {

    .texto-proposito {
        font-size: 1.0625rem;
    }
}

@media (min-width: 1025px) and (max-width: 1200px) {

    .texto-proposito {
        font-size: 1.0625rem;
    }
}

@media (min-width: 1201px){
    .texto-proposito {
        font-size: 1.125rem;
    }
}

/* ••••••••••••••• Sección Horizonte ••••••••••••••• */
.seccion-horizonte {
    margin: 0;
    padding: 2.8125rem 0 15.3125rem 0;
}

.bloque-horizonte {
    background: #003973;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E5E5BE, #003973);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E5E5BE, #003973); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-color: #ccc;
    border-radius: 0.3125rem;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0 0.9375rem;
    margin: 0;
    padding: 0;
}

.texto-ararpi-horizonte {
    color: var(--blanco);
    font-size: 4.6875rem;
    font-weight: 700;
}

/* ••••••••••••••• RWD ••••••••••••••• */
@media (min-width: 0px) and (max-width: 480px) {

    .texto-ararpi-horizonte {
        font-size: 2.8125rem;
        font-weight: 700;
    }
}

@media (min-width: 481px) and (max-width: 768px) {

    .texto-ararpi-horizonte {
        font-size: 3.125rem;
        font-weight: 700;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {

    .texto-ararpi-horizonte {
        font-size: 3.75rem;
        font-weight: 700;
    }
}

@media (min-width: 1025px) and (max-width: 1200px) {

    .texto-ararpi-horizonte {
        font-size: 4.3125rem;
        font-weight: 700;
    }
}

@media (min-width: 1201px){

    .texto-ararpi-horizonte {
        font-size: 4.6875rem;
        font-weight: 700;
    }
}

/* ••••••••••••••• Sección Footer ••••••••••••••• */
.pie-pagina {
    background-color: var(--color-footer);
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    height: auto;
    width: 100%;
}

.seccion-logo-y-boton-subir {
    margin: 0;
    padding: 0.9375rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-ararpi-footer {
    height: 2.1875rem;
    width: 7.1875rem;
}

.icono-subir {
    color: var(--blanco);
    cursor: pointer;
    margin: 0;
    padding: 0;
    height: 2.1875rem;
    width: 2.1875rem;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
}

.seccion-redes-sociales {
    margin: 0;
    padding: 0.9375rem;
}

.iconos-redes-sociales {
    color: var(--blanco);
    margin: 0 0.9375rem 0 0;
    padding: 0;
    height: 1.875rem;
    width: 1.875rem;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
}

.iconos-redes-sociales:hover {
    color: #1f75fe;
}

.bloque-texto-copyright {
    margin: 0;
    padding: 0.9375rem;
}

.texto-copyright {
    color: var(--blanco);
    font-size: 0.78125rem;
    font-weight: 300;
}

/* ••••••••••••••• RWD ••••••••••••••• */
@media (min-width: 0px) and (max-width: 480px) {
    
    .logo-ararpi-footer {
        height: 1.5625rem;
        width: 4.6875rem;
    }
    
    .icono-subir {
        height: 1.5625rem;
        width: 1.5625rem;
    }
    
    .iconos-redes-sociales {
        height: 1.3125rem;
        width: 1.3125rem;
    }
    
    .texto-copyright {
        font-size: 0.65625rem;
        font-weight: 300;
    }
}

@media (min-width: 481px) and (max-width: 768px) {

    .logo-ararpi-footer {
        height: 1.6875rem;
        width: 5.0625rem;
    }
    
    .icono-subir {
        height: 1.6875rem;
        width: 1.6875rem;
    }
    
    .iconos-redes-sociales {
        height: 1.3125rem;
        width: 1.3125rem;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {

    .logo-ararpi-footer {
        height: 1.8125rem;
        width: 5.4375rem;
    }
    
    .icono-subir {
        height: 1.8125rem;
        width: 1.8125rem;
    }

    .icono-subir:hover {
        color: #1f75fe;
    }
    
    .iconos-redes-sociales {
        height: 1.375rem;
        width: 1.375rem;
    }
}

@media (min-width: 1025px) and (max-width: 1200px) {

    .logo-ararpi-footer {
        height: 2.0625rem;
        width: 6.25rem;
    }
    
    .icono-subir {
        height: 1.8125rem;
        width: 1.8125rem;
    }

    .icono-subir:hover {
        color: #1f75fe;
    }
}

@media (min-width: 1201px){

    .logo-ararpi-footer {
        height: 2.1875rem;
        width: 7.1875rem;
    }
    
    .icono-subir {
        height: 2.1875rem;
        width: 2.1875rem;
    }

    .icono-subir:hover {
        color: #1f75fe;
    }
}
